/// Desktop First

/// Large Devices, Wide Screens
@media only screen and (max-width : 1200px)
	///


/// Medium Devices, Desktops
@media only screen and (max-width : 992px)
	///


/// Small Devices, Tablets
@media only screen and (max-width : 768px)
	.conteiner
		// overflow: hidden
	body
		padding-top: 3em
		background-position-y: .5%
	.burger_menu
		display: block
	.main_menu
		display: none
	.wrap_header
		margin-top: 2%
	.head_body
		.btn
			font-size: 1em
		p
			font-size: 2em
	.wrapper_sticker
		width: 100%
		.sticker
			padding: 3em 1em 3em 2em
			clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0)
			width: 95%
			ul
				line-height: 1.5em
			.stick_title
				font-size: 1.4em
	.main_content
		width: 100%
		h1
			font-size: 2.5em
	.side_bar
		display: none
	.wrap_cards_doc
		justify-content: center
		&:after
			display: none
		.card_doc
			&:after
				display: none
	.video_doc
		div
			width: 90%
			h2
				font-size: 2em
			h2, p
				text-align: right
			&:before
				left: -5%
		img
			width: 100%
	.logic_buy:after
		display: none
	.logic_buy
		.conteiner
			width: 100%
		h2
			font-size: 1.9em
		p
			width: 100%

	.wrap_services
		flex-direction: column
		justify-content: center
		ul
			flex-direction: column
			height: auto
			padding: unset
	.main_services
		display: none
		width: 80%
	.over_services
		display: none
		width: 80%
	.adres
		width: 80%
		padding: 2em 0
	.wrap_soc_pay
		flex-direction: column
		.payment
			width: 100%
			div
				padding-right: 0
				justify-content: space-around
	.buy_steps .step1, .buy_steps .step2, .buy_steps .step3
		align-self: center
	.buy_steps .step3:before
		top: -140%
	.buy_steps p
		width: 55%
	.state_sign 
		.btn
			font-size: 1em
			margin: 0
		h2
			font-size: 1.5em
			&:before
				left: -22%
		p
			font-size: .8em
	.logic_buy_email_block
		img
			width: 5%
	.recall
		&:after
			width: 3em
			top: 5%
		&:before
			display: none
		h2
			font-size: 2em
		.title_slider_recall, .slider_recall
			width: 90%
			align-self: center
			margin-bottom: 5%
	.faq
		h2
			display: block
			margin-bottom: 5%
			margin: 0 auto
			width: 70%
			font-size: 2em
			&:before
				left: -5%
		.line_sep
			margin-top: 5%
		.wrap_dialog
			width: 90%
			justify-content: center
			margin: 0 auto
			.card_dialog
				width: 95%
	.steps_order
		width: 90%
		h2
			font-size: 2em
		.card_step
			width: 100%
			.num_step
				margin-right: 0%
		.step1, .step2, .step3, .step6
			&:after
				display: none
	.discont
		.container
			width: 90%
		h2
			font-size: 2em
		.btn
			font-size: 1em
	.card_doc_price
		flex-direction: column
		div
			width: auto

	.title_order_forms
		font-size: 1.4em
		
	.wrap_order_forms
		.modal-forms
			.wrap_inp_form
				flex-direction: column
				align-items: center
				.card
					width: 100%
			.btn
				font-size: 1em
	.popup_callback, .popup_writeUs
		width: 90%
		height: 50%
		.title_popup_callback
			font-size: 1.5em
		.wrap_form_call_back
			input, textarea, p
				width: 90%
			button
				font-size: 0.8em
				line-height: 0.8em
	.popup_writeUs
		height: 60%

	///


/// Extra Small Devices, Phones
@media only screen and (max-width : 480px)
	///


/// Custom, iPhone Retina
@media only screen and (max-width : 320px)
	///


///  Mobile First

/// Custom, iPhone Retina
@media only screen and (min-width : 320px)
	///


/// Extra Small Devices, Phones
@media only screen and (min-width : 576px)
	.container
		width: 540px
		max-width: 100%


/// Small Devices, Tablets
@media only screen and (min-width : 768px)
	.container
		width: 720px
		max-width: 100%


/// Medium Devices, Desktops
@media only screen and (min-width : 992px)
	.container
		width: 960px
		max-width: 100%


/// Large Devices, Wide Screens
@media only screen and (min-width : 1200px)
	.container
		width: 1140px
		max-width: 100%
